@charset "UTF-8";
* {
  box-sizing: border-box;
}

 
.container {
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}

.card {
  display: inline-block;
  position: relative;
  background: linear-gradient(#141e30, #243b55);
  color: white;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 11px 26px 1px #03e9f4, inset 0 -16px 90px #03e9f4;
}
.card h2 {
  margin: 0;
  width: 100%;
  font-size: 30px;
  background: linear-gradient(0,0,0,.5);
  padding: 20px 0;
  color: #EDDDD4;
  box-shadow: inset 0px 5px 4px -4px #ecddd461;
}
.card h3 {
  margin: 20px 0;
  font-size: 60px;
  text-shadow: 3px 2px 2px #283d3b38;
}
.card h3 span {
  font-size: 20px;
}
.card p {
  font-style: italic;
  margin: 0 0 30px 0;
}
.card ul {
  text-align: left;
  padding: 0 50px;
  margin: 0;
}
.card ul li {
  display: block;
}
.card ul li:not(:last-child) {
  margin-bottom: 10px;
}
.card ul li.aval::before {
  font-family: "Font Awesome 5 Free";
 
  font-weight: 900;
  font-size: 20px;
  color: #197278;
  width: 40px;
  display: inline-block;
}
.card ul li.unaval::before {
  font-family: "Font Awesome 5 Free";
   
  font-weight: 900;
  font-size: 20px;
  color: #C44536;
  width: 40px;
  display: inline-block;
}
.card .select {
  position: absolute;
  bottom: 0;
display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  background: linear-gradient(#141e30, #243b55);
  color: #03e9f4;
  font-size: 15px;
  font-family: inherit;
  box-shadow: 0 8px 18px 4px #283d3b4d;
}
.card .select::before {
  font-family: "Font Awesome 5 Free";
  /* cart icom */
  
  font-weight: 900;
  margin-right: 15px;
}
.card-1, .card-3 {
  position: relative;
  transform: scale(0.9);
}
.card-1 {
  left: 40px;
  margin-left: -60px;
  z-index: 0;
}
.card-1 h2 {
  background:  rgba(0,0,0,.8);
  color: #03e9f4;
}
.card-2 h2 {
  background:  rgba(0,0,0,.8);
  color: #03e9f4;

}
.card-2 {
  z-index: 1;
  
}
.card-3 {
  left: -40px;
  margin-right: -60px;
  z-index: 0;
}
.card-3 h2 {
  background:  rgba(0,0,0,.8);
  color: #03e9f4;

}

 

 